<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Bienvenido a la Aplicación de Recetas</h1>
    <nav>
        <a th:href="@{/buscar}">Buscar Recetas</a>
        <a href="/login">Iniciar Sesión</a>
    </nav>
</header>

<section id="recetas-recientes">
    <h2>Recetas Recientes</h2>
    <ul>
        <li><strong>Paella</strong> - Una receta tradicional española con mariscos.</li>
        <li><strong>Pizza Margarita</strong> - La clásica pizza italiana con tomate y mozzarella.</li>
    </ul>
</section>

<section id="recetas-populares">
    <h2>Recetas Populares</h2>
    <ul>
        <li><strong>Churrasco Italiano</strong> - Sandwich chileno con palta, tomate y mayonesa.</li>
        <li><strong>Empanadas de Pino</strong> - Empanadas chilenas rellenas de carne, cebolla y huevo.</li>
    </ul>
</section>

<section id="banners-comerciales">
    <h2>Publicidad</h2>
    <div class="banner">
        <p>Ven a comer las mejores Hamburguesas de Todays Burger</p>
        <img src="/images/hamburguesa.avif" alt="Publicidad de Cocina">
    </div>
    <div class="banner">
        <p>Compra las Hamburguesas de Delicious Food</p>
        <img src="/images/hamburguesa2.avif" alt="Publicidad de Ingredientes">
    </div>
</section>

<footer>
    <p>&copy; 2024 Aplicación de Recetas</p>
</footer>
</body>
</html>
